body {
    background-image: url(../images/question.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

img {
    width: 300px;
    /* Fixed width */
    height: 300px;
    /* Fixed height, adjust as needed */
    object-fit: cover;
    /* Crop the image to fill the box, may be cropped */
    object-position: center;
    /* Optional: Adjust the alignment of the image within the box */
}

.btn {
    width: 100%;
}

.cards {
    display: flex;
    border-radius: 5%;
    margin-bottom: 20px;
}

.policyAndCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 50px;
}

.game {
    margin: 50px;
    margin-top: 30px;
    display: flex;
    width: 500px;
    border-radius: 30px;
    padding-left: 20px;
    padding-top: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: white;
}

.policy {
    padding: 10px 50px;
    padding-top: 20px;
    border-radius: 20px;
    text-align: center;
    width: 70%;
}

.card:hover {
    border: 2px solid #3B71CA;
}

.progress {
    width: 340px;
    margin-top: 13px;
    margin-left: 15px;
}

dotlottie-player {
    position: absolute;
}

.cards img {
    padding: 15px;
}

#card1 {
    background-color: #FFE5E5;
    box-shadow: 0 0 0 2px rgba(218, 102, 123, 1), 12px 12px 0 0 rgba(218, 102, 123, 1);

}

#card1 a {
    background-color: #FF5D5D;
}

#card2 {
    background-color: #E5EBFF;
    box-shadow: 0 0 0 2px #0275d8, 12px 12px 0 0 #0275d8;

}