body {
    background-image: url("../images/Homepage (3).svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    color: white;
}

.animation {
    margin: auto;
    margin-top: 80px;
}

.Header {
    text-align: center;
    margin-top: 250px !important;
    margin-bottom: -50px;
}

.form-select {
    width: 20%;
    margin: auto;
    margin-top: 30px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding-bottom: 13.6%;
}


.btn {
    width: 200px;
    height: 50px;
    margin-top: 100px !important;
    transition: all 1s;
}

a {
    text-decoration: none;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 100%);
    overflow: hidden;
    scroll-behavior: smooth;
    margin-top: 700px;
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
    color: black;
}

.wrapper section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0;
}

.wrapper section .item {
    padding: 0 2px;
    transition: 0.5s all;
    /* Replace $duration with the actual value, e.g., '0.3s' */
}

.wrapper section .item:hover {
    margin: 0 40px;
    transform: scale(1.2);
}

.wrapper section a {
    position: absolute;
    color: #fff;
    text-decoration: none;
    font-size: 6em;
    background: rgb(0, 0, 0);
    width: 80px;
    padding: 20px;
    text-align: center;
    z-index: 1;
}

.wrapper section a:nth-of-type(1) {
    top: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

.wrapper section a:nth-of-type(2) {
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

@media only screen and (max-width: 600px) {
    a.arrow__btn {
        display: none;
    }
}

h4 {
    text-align: center;
    padding: 5px;
}

.item {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    transition: all 0.5s;
}

.item img {
    border-radius: 10px 10px 0 0;
}

dotlottie-player {
    margin-bottom: -50px;
    margin-top: 50px;
}

.item:hover {
    border: 5px solid #ffdd00;
    cursor: pointer;
}

.btn {
    margin-bottom: 100px;
}