body {
    background-image: url(../images/question.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: relative;
}

#form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: rgb(255, 255, 255);
    border: 1px solid blue;
    border-radius: 30px;
    display: none;
    padding: 40px 10px;
    flex-direction: column;
    align-items: center;
}

#form svg {
    position: absolute;
    right: 25px;
    top: 25px;
    cursor: pointer;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#form label {
    margin-top: 5px;
}

#row-items {
    width: 100%;
}

img {
    width: 300px;
    /* Fixed width */
    height: 300px;
    /* Fixed height, adjust as needed */
    object-fit: cover;
    /* Crop the image to fill the box, may be cropped */
    object-position: center;
    /* Optional: Adjust the alignment of the image within the box */
}

.btn {
    width: 100%;
}

.cards {
    display: flex;
    border-radius: 5%;
    margin-bottom: 20px;
}

.policyAndCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 50px;
}

.game {
    margin: 50px;
    margin-top: 30px;
    display: flex;
    width: 500px;
    border-radius: 30px;
    padding-left: 20px;
    padding-top: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: white;
    margin-bottom: 10px;
}

.policy {
    padding: 10px 50px;
    padding-top: 20px;
    border-radius: 20px;
    text-align: center;
    width: 70%;
}

.progress {
    width: 340px;
    margin-top: 13px;
    margin-left: 15px;
}

dotlottie-player {
    position: absolute;
}

.cards img {
    padding: 15px;
}

.republican {
    background-color: #FFE5E5;
    box-shadow: 0 0 0 2px rgba(218, 102, 123, 1), 12px 12px 0 0 rgba(218, 102, 123, 1);

}

.republican button {
    background-color: #FF5D5D !important;
    border: 1px solid #FF5D5D !important;
}

.republican button:hover {
    background-color: #de4747 !important;
    background-color: #d74242 !important;
}

.democrat {
    background-color: #E5EBFF;
    box-shadow: 0 0 0 2px #0275d8, 12px 12px 0 0 #0275d8;
}

.backButton {
    display: flex;
    margin-left: 55px;
    width: 120px;
    border-radius: 25px;
    padding: 5px;
    background-color: #0275d8;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}

.backButton:hover {
    background-color: #014e92;
    cursor: pointer;
}

.backButton h4 {
    margin-top: 4px;
}


.dropdown-item {
    max-width: 400px;
    white-space: normal;
    word-wrap: break-word;
}


.btn-group.dropup.one {
    padding-left: 89%;
    margin-top: -50px;

}

#dropdown2 {
    padding-right: 89%;
    margin-top: -50px;
}

.btn-group.dropup.one button {
    color: white;
    background-color: #0275d8;
    border-radius: 30px;
}

#dropdown2 button {
    color: white;
    background-color: #0275d8;
    border-radius: 30px;
}


.btn-group.dropup.one button svg {
    margin-top: 5px;
    margin-bottom: 5px;
}

#dropdown2 span {
    font-size: 22px;
}


.chat-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 20px;
    height: 500px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
}

.message {
    background-color: #f1f1f1;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 5px;
    max-width: 210px;
    word-wrap: break-word;
}

.input-container {
    margin: 20px;
}

#sendButton {
    border-radius: 2px;
}